In [1]:
# (i) String
string_var = "Hello, world!"

# (ii) List
list_var = [1, 2, 3, 4, 5]

# (iii) Float
float_var = 3.14

# (iv) Tuple
tuple_var = (6, 7, 8, 9, 10)

In [2]:
#Q2
# (i) var1: Empty string
#     Data type: str

# (ii) var2: String containing a list as text
#     Data type: str

# (iii) var3: List of strings
#     Data type: list

# (iv) var4: Floating-point number
#     Data type: float

In [3]:
#Q3
# (i) / : Division Operator
result = 10 / 3
print(result)  # Output: 3.3333333333333335

# (ii) % : Modulus Operator (Returns the remainder of the division)
remainder = 10 % 3
print(remainder)  # Output: 1

# (iii) // : Floor Division Operator (Returns the quotient of the division, discarding any fractional part)
quotient = 10 // 3
print(quotient)  # Output: 3

# (iv) ** : Exponentiation Operator (Raises the first operand to the power of the second operand)
result = 2 ** 3
print(result)  # Output: 8

3.3333333333333335
1
3
8

In [4]:
#Q4
my_list = [10, "Hello", 3.14, True, [1, 2, 3], (4, 5), {'a': 1, 'b': 2}, None, 7.5, False]

for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(4, 5) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>
None <class 'NoneType'>
7.5 <class 'float'>
False <class 'bool'>

In [5]:
#Q5
A = 15
B = 3
count = 0

while A % B == 0:
    A /= B
    count += 1

print("A is divisible by B", count, "times.")

A is divisible by B 1 times.

In [6]:
#Q6
int_list = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130]

for num in int_list:
    if num % 3 == 0:
        print(num, "is divisible by 3.")
    else:
        print(num, "is not divisible by 3.")

10 is not divisible by 3.
15 is divisible by 3.
20 is not divisible by 3.
25 is not divisible by 3.
30 is divisible by 3.
35 is not divisible by 3.
40 is not divisible by 3.
45 is divisible by 3.
50 is not divisible by 3.
55 is not divisible by 3.
60 is divisible by 3.
65 is not divisible by 3.
70 is not divisible by 3.
75 is divisible by 3.
80 is not divisible by 3.
85 is not divisible by 3.
90 is divisible by 3.
95 is not divisible by 3.
100 is not divisible by 3.
105 is divisible by 3.
110 is not divisible by 3.
115 is not divisible by 3.
120 is divisible by 3.
125 is not divisible by 3.
130 is not divisible by 3.

In [7]:
#Q7# Example of Mutable Data Type (List)
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

# Example of Mutable Data Type (List)
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]
[10, 2, 3]

In [8]:
# Example of Immutable Data Type (Tuple)
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error since tuples are immutable

TypeError: 'tuple' object does not support item assignment